body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

#office {
    font-family: 'Quicksand', sans-serif;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 64px;
    font-weight: bold;
}

.description {
    height: 40%;
    text-align: center;
}

.main {
    margin: auto;
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pictureWindow {
    margin: 40px;
    width: 18%;
    height: 280px;
    position: relative; 
    border-radius: 20px;  
}

.pictureWindow:hover{ 
    box-shadow: 1px 8px 20px black;
    transition:  box-shadow .3s ease-in;
 }

.image {
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: solid 2px orange;
    border-radius: 20px;
}

.pictureWindow:hover  .image{
    opacity: 0.2;
}

.pictureWindow:hover  .middle{
    opacity: 5;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#inCard {
    font-family: 'Quicksand', sans-serif;
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
